<div class="ui inverted vertical segment footer-inner">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Seraph</h4>
        <div class="ui inverted link list">
          <a href="{% url 'companies:all' %}" class="item">
            Companies
          </a>
          <a href="{% url 'employees:all' %}" class="item">
            Employees
          </a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Seraph</h4>
        <p>Where Companies are built</p>
      </div>
    </div>
  </div>
</div>
